---
layout: homepage
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1>{{ site.title }}</h1>
        <div id="jumbotron-meta-info">
            {% if site.location %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-location"></span>
                <a href="https://www.google.com/maps/place/Boston,+MA/@42.3590624,-71.0874548,14z/data=!4m5!3m4!1s0x89e3652d0d3d311b:0x787cbf240162e8a0!8m2!3d42.3600825!4d-71.0588801">
                {{ site.location }}
                </a>
            </span> {% endif %}
            {% if site.company %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span> {% endif %}
            {% if site.github_url %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">@colin78</a>
            </span> {% endif %}
        </div>
    </div>
</section>
<section class="content container">
    <table style="width:100%">
    <tbody>
    <tr>
    <td>
    <!-- <a href="http://web.mit.edu/"> -->
    <img src="assets/images/MIT_logo.svg" style="height:100px;">
    <!-- </a> -->
    </td>
    <td align="center">
    <!-- <a href="http://orc.mit.edu/"> -->
    <img src="assets/images/ORC_logo_horizontal.png" style="height:100px;">
    <!-- </a> -->
    </td>
    <td align="right">
    <!-- <a href="http://mitsloan.mit.edu/"> -->
    <img src="assets/images/MITSloanLogo_MASTER_Web.jpg" style="height:100px;">
    <!-- </a> -->
    </td>
    </tr>
    </tbody>
    </table>

</section>

