---
layout: homepage
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<!-- <section class="jumbotron" style="background-image: url(assets/images/charles-river-main.jpg); width=100%; background-size: cover;"> -->
<section class="jumbotron" style="background-image: url(assets/images/charles-river-main.jpg); width=100%; background-size: cover; opacity: 0.5">
    <div class="container">
        <h1> </h1>
        <div id="jumbotron-meta-info" id="div-with-bg">
            {% if site.location %}
            <span class="meta-info">
                <span class="octicon octicon-location"></span>
                {{ site.location }}
            </span> {% endif %}
            {% if site.company %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span> {% endif %}
            {% if site.github_url %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">@colin78</a>
            </span> {% endif %}
        </div>
    </div>
</section>
<section class="content container">
<img src="assets/images/ORC_logo_horizontal.png" style="height:100px;">
<img src="assets/images/MITSloanLogo_MASTER_Web.jpg" style="height:100px;">

</section>

