<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p></p>

        <h2>News</h2>
        <a href="http://www.athenahealth.com/blog/2016/11/21/hackathon-followup">athenahealth Hackathon 2016 Grand Prize announcement for "Patients Like This"</a>
        <br>
        <a href="https://www.nasa.gov/home/hqnews/2011/oct/HQ_11-331_CCC_Payload.html">NASA Selects Technology Payloads For Reduced-Gravity Flights</a>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/colin-pawlowski">https://www.linkedin.com/in/colin-pawlowski</a></li>
        </ul>

        <h2>Skills</h2>

        {% if site.skill_ml_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Machine Learning</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_ml_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_opt_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Optimization Software</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_opt_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming Languages</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Development</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>